body {
	text-align: center;
	font-size: 120%;
    background-color: #eee;
}

.jumbotron {
    background-color: #fff;
}

.card-title {
    font-weight: bold;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}

.example {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}

.custom-class input, button {
    margin-right: 10px;
}

.custom-class input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.trigger:hover {
    cursor: pointer;
}

.editable input[type=submit] {
  color: #F00;
  font-weight: bold;
}
.editable input[type=button] {
  color: #0F0;
  font-weight: bold;
}

.inline {
    display: inline;
}

h4 {
    text-align: left;
}

/* for the full example */
label {
    margin-right: 5px;
}
