/*******************************************************
TITLE: Fixed Box Layout  V1.0
DATE: 20060809
AUTHOR: The CSS Tinderbox - http://www.csstinderbox.com
*******************************************************/

body {
margin:3em;
padding:0;
height:100%;
background-color:#ffffff;
color:#000000;  
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:.9em;
}

a {
color:#cc0000;
text-decoration:underline;
}

a:hover {
color:#eeeeee;
text-decoration:none;
}

blockquote {
margin:1em;
padding:.5em;
background-color:#eeeeee;
border-top:1px solid #cccccc;
border-bottom:1px solid #cccccc;
}

blockquote p {
margin:.2em;
}

#center { 	
margin:0 auto;
padding:1em;
width:38em;
text-align:left;
vertical-align: middle;	
background-color:#cccccc;
border:1px solid #999999;
}

#centerColumn h2 {
margin:0 0 -.5em 0;
padding:.75em 0 0 0;
font-size:1em;
letter-spacing:.1em;
}

#header {
margin:-1em -1em 0 -1em;
padding:0 0 0 0;
height:5em;
background-color:#ffffff;
}

#header h1 {
margin:0 0 -.6em 0;
padding:.5em 0 0 1em;
font-size:1.5em;
letter-spacing:.1em;
}

#header h2 {
margin:0 0 0 0;
padding:1em 0 0 1.75em;
font-size:.9em;
font-weight:300;
letter-spacing:.1em;
}

#nav {
margin:0 0 1em 0;
padding:.4em 0 0 0;
}

#nav ul {
margin:0;
padding:0;
list-style:none;
}

#nav li {
margin:0;
padding:.25em;
display:inline;
}

#footer {
position:relative;
bottom:0;
margin:5em 0 0 0;
padding:0;
height:4em;
line-height:4em;
text-align:center;
font-size:.7em;
background-color:#cccccc;
border-top:1px solid #999999;
}













