body {
	text-align: center;
	font-size: 120%;
    background-color: #ccc;
}

header {
    width: 100%;
    margin: auto;
    background-color: #ccc;
}

.editable input[type=submit] {
  color: #F00;
  font-weight: bold;
}
.editable input[type=button] {
  color: #0F0;
  font-weight: bold;
}

.inline {
    display: inline;
}
