.editable input[type=submit] {
  color: #F00;
  font-weight: bold;
}
.editable input[type=button] {
  color: #0F0;
  font-weight: bold;
}

textarea {
	line-height: 16px;
}

#sidebar {
  width: 0px;
}

#content {
  width: 770px;
}

div.entry {
  width: 385px;
  float: left;
}


